body {
  font-size: 16px; /* Change this value to adjust the base font size */
  font-family: 'Rubik', sans-serif;
  margin: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
input {
  all: unset;
}
/* Define CSS variables for margin, padding, and font sizes */
:root {
  --global-margin: 1rem;
  --global-padding: 1rem;
  --global-font-size: 16px;
  --global-gap: 1rem;
  --global-border-radius: 0.5rem;
  --background-color: #ced3ce7c;
  --background-color1: #fbf8f3;
  --text-color1: #1d1d1d;
  --text-color2: #62605f;
  --color1: #3f5882;
  --color1-1: #e9e9e8;
  --color2: #e0a8af;
  --color2-1: #f7edea;
  --color3: #f2d0a4;
  --color3-1: #fbefe4;
}

/* Use the CSS variables for margin, padding, and font sizes */
h1 {
  font-size: var(--heading-1-size);
  font-weight: var(--bold-font-weight);
  margin: 0;
}

h2 {
  font-size: var(--heading-2-size);
  font-weight: var(--bold-font-weight);
  margin: 0;
}

h3 {
  font-size: var(--heading-3-size);
  font-weight: var(--bold-font-weight);
  margin: 0;
}

h4 {
  font-size: var(--heading-4-size);
  font-weight: var(--bold-font-weight);
  margin: 0;
}

h5 {
  font-size: var(--heading-5-size);
  font-weight: var(--bold-font-weight);
  margin: 0;
}

h6 {
  font-size: var(--heading-6-size);
  font-weight: 400;
  margin: 0;
}

p {
  font-size: var(--global-font-size);
}
/* Media query for small screens */
@media screen and (max-width: 480px) {
  :root {
    --global-margin: 0.5rem;
    --global-padding: 0.5rem;
    --global-font-size: 14px;
    --heading-1-size: 1.8rem;
    --heading-2-size: 1.5rem;
    --heading-3-size: 1.3rem;
    --heading-4-size: 1.1rem;
    --heading-5-size: 1rem;
    --heading-6-size: 0.9rem;
    --bold-font-weight: 600;
  }
}

/* Media query for medium screens */
@media screen and (min-width: 481px) and (max-width: 768px) {
  :root {
    --global-margin: 1rem;
    --global-padding: 1rem;
    --global-font-size: 16px;
    --heading-1-size: 2rem;
    --heading-2-size: 1.75rem;
    --heading-3-size: 1.5rem;
    --heading-4-size: 1.25rem;
    --heading-5-size: 1.1rem;
    --heading-6-size: 1rem;
    --bold-font-weight: 700;
  }
}

/* Media query for large screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  :root {
    --global-margin: 1.5rem;
    --global-padding: 1.5rem;
    --global-font-size: 18px;
    --heading-1-size: 2.5rem;
    --heading-2-size: 2rem;
    --heading-3-size: 1.75rem;
    --heading-4-size: 1.5rem;
    --heading-5-size: 1.25rem;
    --heading-6-size: 1.1rem;
    --bold-font-weight: 700;
  }
}

/* Media query for extra-large screens */
@media screen and (min-width: 1025px) {
  :root {
    --global-margin: 2rem;
    --global-padding: 2rem;
    --global-font-size: 20px;
    --heading-1-size: 3rem;
    --heading-2-size: 2.5rem;
    --heading-3-size: 2rem;
    --heading-4-size: 1.75rem;
    --heading-5-size: 1.5rem;
    --heading-6-size: 1.25rem;
    --bold-font-weight: 800;
  }
}
